body{
    background-color: #61122f;
}
/*HEADER*/
#header-nav{
    background-color: #f6b319;
    border-radius: 0px;
    border: 0;
}
#logo-img{
    background: url('../images/Screenshot_20200805-001123.png') no-repeat;
    width:150px;
    height:150px;
    margin:10px 15px 10px 0px;
}
#t{
    float:left;
}